.contact-form {
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: getColour(grey);

  @include min-width(lg) {
    padding: 3rem;
  }

  &__info {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;

    h3 {
      font-weight: bold;
      font-size: 2rem;
      color: getColour(navy);
      letter-spacing: 0;
      text-align: center;
      margin: 0;
    }

    p {
      text-align: center;
    }
  }

  .button:focus,
  .button:visited,
  .button:active {
    outline: none;
    border: none !important;
  }

  &__form-group {
    display: flex;
    flex-direction: column;
    margin: 0 0 1.4rem 0;

    input,
    textarea {
      line-height: 1.5;
      position: relative;
      width: 100%;
      display: block;
      border: 1px solid getColour(steel, trans);
      background-color: white;
      -webkit-appearance: none;
      border-radius: 0.25rem;
      padding: .5rem;
      color: getColour(navy);
      font-size: 1rem;
    }

    input:focus,
    textarea:focus {
      outline: none;
      border: 1px solid getColour(blue);
      border-radius: 0.25rem;
    }
  }

  &__form-label {
    font-size: 1rem;
    color: getColour(navy);
    font-weight: bold;
    letter-spacing: 0;
    margin-bottom: 0.5rem;
  }
  
  &__form-error {
    color: rgba(224, 32, 32, 0.5);
    font-size: 12px;
    margin: .5rem 0;
  }

  &__button {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  &__reset {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;

    button {
      border: none;
      background-color: #df083e;
      color: getColour(white);
      font-size: 14px;
      border-radius: 0.25rem;
      padding: 0.5rem 1rem;

      &:hover {
        cursor: pointer;
        background-color: #cf0034;
      }
    }

    i {
      font-size: 0.8rem;
    }
  }
}
