.expandable-content {
  &__title {
    background-color: getColour(grey);
    border: 0.1rem solid getColour(grey);
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    transition: border 0.25s ease-in-out;

    &:hover {
      cursor: pointer;
    }
  }

  &__title-wrap {
    color: getColour(black);
    font-weight: 700;
    position: relative;
  }

  &__second-title {
    margin-left: 0.25rem;
    color: getColour(blue);
  }

  &__subtitle {
    color: getColour(steel);
    font-family: $monoFont;
    font-size: 0.8rem;
    margin-top: 0.25rem;
  }

  &__content {
    height: 0;
    visibility: hidden;
    transition: all 0.25s ease-in-out;

    li {
      margin-bottom: 1rem;
      color: getColour(black);
      font-weight: 600;
    }
  }

  &__icon {
    position: absolute;
    right: 0;
    top: .75rem;
    transition: transform 0.25s ease-in-out;
  }

  &--open {
    .expandable-content__title {
      border: 0.1em solid getColour(blue);
    }

    .expandable-content__content {
      height: 100%;
      visibility: visible;
    }

    .expandable-content__icon {
      transform: rotate(90deg);
    }
  }
}