.expandable-content {
  &__title {
    border-bottom: 0.05rem solid getColour(grey);
    display: flex;
    flex-direction: column;
    padding: 1.5rem 1.5rem 1.5rem 0;

    &:hover {
      cursor: pointer;
    }
  }

  &__title-wrap {
    color: getColour(navy);
    font-weight: 700;
  }

  &__second-title {
    margin-left: 0.25rem;
    color: getColour(blue);
  }

  &__subtitle {
    color: getColour(steel);
    font-family: $monoFont;
    font-size: 0.8rem;
  }

  &__content {
    display: none;
    padding: 2em 1em;
  }

  &--open {
    .expandable-content__title {
      border-bottom: 0.1em solid getColour(blue);
    }

    .expandable-content__content {
      display: flex;
    }
  }
}
