@import './../../styles/main.scss';

.button {
  border-radius: 0.2rem;
  font-size: 1rem;
  letter-spacing: 0;
  font-weight: 600;
  transition: all .3s ease-in-out;
  padding: 0.5rem 1.5rem;
  margin: 0 .5rem 0 0;
  border: 0.1rem solid transparent;

  &:hover {
    cursor: pointer;
  }

  i {
    margin-right: .7rem;
  }

  &--pink {
    background: getColour(pink);
    color: getColour(navy);
  }

  &--blue {
    background: getColour(skyBlue);
    color: getColour(navy);
  }

  &--yellow {
    background: getColour(yellow);
    color: getColour(navy);
  }

  &--yellow {
    background: getColour(green);
    color: getColour(navy);
  }

  &--navy {
    background: getColour(navy);
    color: getColour(white);
  }

  &--grey {
    background: getColour(grey);
    color: getColour(navy);
  }

  &--steel {
    background: getColour(steel);
    color: getColour(navy);
  }

  &--fill {
    box-shadow: 0 2px 20px 0 rgba(20,35,60,0.19);
    border: 0.1rem solid transparent;

    &:hover {
      box-shadow: 0 2px 20px 0 rgba(20,35,60,0.45);
    }
  }

  &--outline {
    background: transparent;
    border: 0.1rem solid getColour(navy);
    color: getColour(navy);

    &:hover {
      background: rgba(20, 35, 60, 0.1) !important;
    }
  }
}
