@import './../../styles/main.scss';

.button {
  border-radius: 0.2rem;
  font-size: 1rem;
  letter-spacing: 0;
  font-weight: 600;
  transition: all .3s ease-in-out;
  padding: 0.5rem 1.5rem;
  margin: 0 .5rem 0 0;

  &:hover {
    cursor: pointer;
  }

  i {
    margin-right: .7rem;
  }

  &--pink {
    background-color: getColour(pink);
    color: getColour(navy);
  }

  &--blue {
    background-color: getColour(blue);
    color: getColour(navy);
  }

  &--yellow {
    background-color: getColour(yellow);
    color: getColour(navy);
  }

  &--green {
    background-color: getColour(green);
    color: getColour(navy);
  }

  &--navy {
    background-color: getColour(navy);
    color: getColour(white);
  }

  &--grey {
    background-color: getColour(grey);
    color: getColour(navy);
  }

  &--steel {
    background-color: getColour(steel);
    color: getColour(navy);
  }

  &--fill {
    box-shadow: 0 2px 20px 0 rgba(20,35,60,0.1);
    border: 0.1rem solid transparent;

    &:hover {
      box-shadow: 0 2px 20px 0 rgba(20,35,60,0.19);
    }
  }

  &--outline,
  &--outline-pink,
  &--outline-blue,
  &--outline-green,
  &--outline-yellow,
  &--outline-navy,
  &--outline-grey,
  &--outline-steel
  {
    background: transparent !important;
    border: 0.1rem solid getColour(navy);
    color: getColour(navy);
  }

  &--outline-pink {
    border: 0.1rem solid getColour(pink);
    color: getColour(pink);
  }

  &--outline-blue {
    border: 0.1rem solid getColour(blue);
    color: getColour(blue);
  }

  &--outline-yellow {
    border: 0.1rem solid getColour(yellow);
    color: getColour(yellow);
  }

  &--outline-green {
    border: 0.1rem solid getColour(green);
    color: getColour(green);
  }

  &--outline-navy {
    border: 0.1rem solid getColour(navy);
    color: getColour(navy);
  }

  &--outline-grey {
    border: 0.1rem solid getColour(grey);
    color: getColour(grey);
  }

  &--outline-steel {
    border: 0.1rem solid getColour(steel);
    color: getColour(steel);
  }
}
