.button {
    border-radius: 4px;
    font-size: 16px;
    letter-spacing: 0;
    font-weight: 600;
    transition: all .3s ease-in-out;
    padding: 12px 25px;
    margin: 0 .5rem 0 0;
}

@media (min-width: 1280px) {
    .button {
        font-size: 20px;
    }
}

.button i {
    margin-right: 10px;
}

.button:hover {
    cursor: pointer;
}

.button-fill {
    box-shadow: 0 2px 20px 0 rgba(0,0,0,0.19);
    border: 2px solid transparent;
}

.button-outline {
    border: 2px solid var(--main-navy);
}

.button-outline:hover {
    background: rgba(20, 35, 60, 0.1) !important;
}