.button {
  border-radius: 0.2rem;
  font-size: 1rem;
  letter-spacing: 0;
  font-weight: 600;
  transition: all .3s ease-in-out;
  padding: 0.8rem 1.8rem;
  margin: 0 .5rem 0 0;
  transition: transform 0.25s ease-in-out;

  &:hover {
    cursor: pointer;
    transform: translateY(-2px);
  }

  i {
    margin-left: .7rem;
  }

  &--blue {
    background-color: getColour(blue);
    color: getColour(white);

    &:hover {
      background-color: getColour(blue, dark);
    }
  }

  &--black {
    background-color: getColour(black);
    color: getColour(white);
  }

  &--grey {
    background-color: getColour(grey);
    color: getColour(black);
  }

  &--steel {
    background-color: #e5e4ec;
    color: getColour(black);
  }

  &--fill {
    box-shadow: 0 2px 20px 0 rgba(20,35,60,0.1);
    border: 0.1rem solid transparent;

    &:hover {
      box-shadow: 0 2px 20px 0 rgba(20,35,60,0.19);
    }
  }
}
