.project-block {
    background: #FFFFFF;
    border: 1px solid rgba(20,35,60,0.16);
    box-shadow: 0 2px 11px 0 rgba(3,5,9,0.06);
    border-radius: 4px;
    width: 100%;
    display: flex;
    margin: 10px 0;
}

.project-block-container {
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (min-width: 1280px) {
    .project-block {
        width: 45%;
    }
}

.project-icon > img {
    height: 75px;
    width: 75px;
    border-radius: 50%;
}

.project-block-header {
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
}

.project-tags {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    justify-content: flex-end;
}

.project-block p {
    font-size: 18px;
    color: var(--main-navy);
    letter-spacing: 0;
    line-height: 35px;
    margin-bottom: 45px;
}

.project-block .project-block-footer {
    margin: 15px 0;
}

/** Theme button colours **/
.pink-theme .project-block .button-fill {
    background: var(--main-pink);
}

.pink-theme .project-block .button-fill:hover {
    background: var(--main-pink-hover);
}

.blue-theme .project-block .button-fill {
    background: var(--main-blue);
}

.blue-theme .project-block .button-fill:hover {
    background: var(--main-blue-hover);
}

.yellow-theme .project-block .button-fill {
    background: var(--main-yellow);
}

.yellow-theme .project-block .button-fill:hover {
    background: var(--main-yellow-hover);
}

.green-theme .project-block .button-fill {
    background: var(--main-green);
}

.green-theme .project-block .button-fill:hover {
    background: var(--main-green-hover);
}

.project-block .button-fill  {
    box-shadow: none;
    color: var(--main-navy) !important;
}