.introduction {
  @include section-padding-large;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;

  @include min-width(lg) {
    min-height: 500px;
  }

  &__background {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #396afc; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #396afc, #2948ff); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #396afc, #2948ff);
    transform: skewY(-6deg);
    transform-origin: top left;
    z-index: -1;
  }

  @include min-width(lg) {
    &__wrapper {
      width: 80%;
    }
  }

  &__buttons {
    margin-top: 1.8rem;
  }

  &__status,
  &__text,
  &__skills {
    margin-top: 3rem;
  }
}
