.introduction {
  @include section-padding;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: getColour(white);

  @include min-width(lg) {
    &__wrapper {
      width: 80%;
    }
  }

  &__buttons {
    margin-top: 1.8rem;
  }

  &__text-wrapper {
    margin-top: 2rem;

    @media (min-width: 1280px) {
      width: 60%;
    }
  }

  &__social-icons {
    display: flex;

    .social-media-icon {
      font-size: 1.5rem;
      margin-right: 2.5rem;
      color: getColour(steel);
      transition: color .5s ease-in-out;

      &:hover {
        color: getColour(navy);
      }
    }
  }
}
