.paragraph {
  font-weight: 400;
  font-size: 1.2rem;
  margin: 0.25rem 0;

  &--pink {
    color: getColour(pink);
  }

  &--blue {
    color: getColour(skyBlue);
  }

  &--yellow {
    color: getColour(yellow);
  }

  &--green {
    color: getColour(green);
  }

  &--white {
    color: getColour(white);
  }

  &--navy {
    color: getColour(navy);
  }

  &--grey {
    color: getColour(grey);
  }

  &--steel {
    color: getColour(steel);
  }

  &--black {
    color: getColour(black);
  }
}
