.paragraph {
    font-weight: 400;
    color: var(--main-navy);
    font-size: 18px;
    letter-spacing: 0;
    line-height: 35px;
}

@media screen and (min-width: 1280px) {
    .paragraph {
        font-size: 24px;
    }
}