.project-block {
  background-color: getColour(grey);
  border-radius: 0.5rem;
  width: 100%;
  display: flex;
  padding: 2rem;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__header {
    margin-bottom: 2rem;
  
    .title {
      font-size: 1.5rem !important;
    }
  }

  &__description {
    margin: 2rem 0;
  }

  &__tags {
    margin-top: 0.5rem;
  }

  .button {
    margin-bottom: 0.5rem !important;

    @include min-width(lg) {
      margin-bottom: 0 !important;
    }
  }
}
