.about {
  @include section-padding;
  background: getColour(grey);

  &__title {
    margin-bottom: 2rem;
  }

  &__content {
    display: flex;
    flex-direction: column-reverse;

    @include min-width(sm) {
      flex-direction: row;
    }
  }

  &__text {
    width: 100%;

    @include min-width(sm) {
      width: 60%;
      margin-right: 4rem;
    }
  }
}
