.about {
  padding: 1rem;
  background: getColour(grey);

  @include min-width(md) {
    padding: 2rem;
  }

  @include min-width(lg) {
    padding: $sectionPadding;
  }

  &__title {
    margin-bottom: 2rem;
  }

  &__content {
    display: flex;
    flex-direction: column-reverse;

    @include min-width(lg) {
      flex-direction: row;
    }
  }

  &__text {
    width: 100%;

    @include min-width(lg) {
      width: 60%;
      margin-right: 4rem;
    }
  }
}
