.title {
  font-weight: 800;
  letter-spacing: 0;
  margin: 0;

  @media (min-width: 1280px) {
    font-size: 3.5rem;
  }

  &--pink {
    color: getColour(pink);
  }

  &--blue {
    color: getColour(skyBlue);
  }

  &--yellow {
    color: getColour(yellow);
  }

  &--green {
    color: getColour(green);
  }

  &--white {
    color: getColour(white);
  }

  &--navy {
    color: getColour(navy);
  }

  &--grey {
    color: getColour(grey);
  }

  &--steel {
    color: getColour(steel);
  }
}
