.header {
  align-items: center;
  padding: 1rem;
  display: flex;
  position: fixed;
  width: 100%;
  flex-direction: column;
  z-index: 100;
  background-color: getColour(white);
  border-bottom: 1px solid getColour(grey);

  @include min-width(sm) {
    padding: 1rem 6rem;
    justify-content: space-between;
    flex-direction: row;
    background-color: none;
    border-bottom: none;
  }

  @include min-width(lg) {
    padding: 1rem 10rem;
  }

  &__brand {
    background-color: getColour(grey);
    padding: .8rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-content: center;
    transition: background-color .25s ease-in-out;

    a {
      display: flex;
      justify-content: center;
      align-content: center;
    }

    &:hover {
      cursor: pointer;
      background-color: getColour(blue);
    }
  }

  &__nav {
    background-color: getColour(white);
    border-radius: 0.5rem;
    margin-top: 1rem;
    padding: 0 1rem;

    @include min-width(md) {
      background-color: getColour(grey);
      margin-top: 0;
      padding: 0;
    }
  }

  &__nav-items {
    display: flex;
    list-style: none;

    @include min-width(sm) {
      padding-inline-start: 0;
    }
  }

  &__nav-item {
    margin: 0 0.25rem;

    @include min-width(sm) {
      margin: 0 1.5rem;
    }
  }

  &__nav-anchor {
    font-weight: 600;
    color: getColour(steel);
    transition: color .25s ease-in-out;
    font-family: $monoFont;
    font-size: 0.9rem;
    border: none;
    background: none;

    @include min-width(sm) {
      font-size: 1rem;
    }

    &:hover {
      cursor: pointer;
      color: getColour(blue);
    }
  }
}
