// Colours
$blue: #243afa;
$white: #ffffff;
$grey: #f5f5f5;
$steel: #7c889c;
$black: #020414;

// Other
$colourShade: 8%;
$colourTrans: 0.5;
$colourTransLight: 0.2;

// Maps
$colours: (
  blue: (
    base: $blue,
    light: lighten($blue, $colourShade),
    dark: darken($blue, $colourShade),
    trans: transparentize($blue, $colourTrans)
  ),
  white: (
    base: $white,
    light: lighten($white, $colourShade),
    dark: darken($white, $colourShade),
    trans: transparentize($white, $colourTrans)
  ),
  grey: (
    base: $grey,
    light: lighten($grey, $colourShade),
    dark: darken($grey, $colourShade),
    trans: transparentize($grey, $colourTrans)
  ),
  steel: (
    base: $steel,
    light: lighten($steel, $colourShade),
    dark: darken($steel, $colourShade),
    trans: transparentize($steel, $colourTrans)
  ),
  black: (
    base: $black,
    light: lighten($black, $colourShade),
    dark: darken($black, $colourShade),
    trans: transparentize($black, $colourTrans)
  )
);
