.introduction {
  @include section-padding;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: getColour(white);

  @include min-width(lg) {
    &__wrapper {
      width: 80%;
    }
  }

  &__buttons {
    margin-top: 1.8rem;
  }

  &__status,
  &__text,
  &__skills {
    margin-top: 3rem;
  }
}
