.contact-form {
    margin-top: 40px;
    background: #FFFFFF;
    border: 1px solid rgba(20,35,60,0.16);
    box-shadow: 0 2px 11px 0 rgba(3,5,9,0.06);
    border-radius: 4px;
    padding: 3rem;
}

button:focus, button:visited {
    outline: none;
}

.contact-form-info {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
}

.contact-form-info > h3 {
    font-weight: bold;
    font-size: 35px;
    color: #20232A;
    letter-spacing: 0;
    text-align: center;
}

.contact-form-info p {
    text-align: center;
}

.contact-form .form-group {
    display: flex;
    flex-direction: column;
    margin: 0 0 1.4rem 0;
}

.contact-form .form-group > .form-label {
    font-size: 16px;
    color: #20232A;
    font-weight: bold;
    letter-spacing: 0;
}

.contact-form .form-group .form-error {
    color: rgba(224, 32, 32, 0.5);
    font-size: 12px;
    margin: .5rem 0;
}

.contact-form .form-group > input, .contact-form .form-group > textarea {
    line-height: 1.5;
    position: relative;
    width: 100%;
    display: block;
    background-color: white;
    -webkit-appearance: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    padding: .5rem;
    color: #20232A;
    font-size: 14px;
}

.contact-form .form-group > input:focus, .contact-form .form-group > textarea:focus {
    outline: none;
}

.contact-form-button {
    display: flex;
    width: 100%;
    justify-content: center;
}

.contact-button {
    color: var(--main-navy) !important;
    box-shadow: none;
}

.reset-contact-form {
   display: flex;
   justify-content: center;
   width: 100%;
   margin-top: 20px;
}

.reset-contact-form > button {
    border: none;
    background: transparent;
    color: #20232A;
    font-size: 14px;
}

.reset-contact-form > i {
    font-size: 14px;
}

/** Theme colours **/
.pink-theme .contact-form .form-group > input:focus, .pink-theme .contact-form .form-group > textarea:focus {
    border: 1px solid var(--main-pink);
}

.blue-theme .contact-form .form-group > input:focus, .blue-theme .contact-form .form-group > textarea:focus {
    border: 1px solid var(--main-blue);
}

.yellow-theme .contact-form .form-group > input:focus, .yellow-theme .contact-form .form-group > textarea:focus {
    border: 1px solid var(--main-yellow);
}

.green-theme .contact-form .form-group > input:focus, .green-theme .contact-form .form-group > textarea:focus {
    border: 1px solid var(--main-green);
}

.pink-theme .contact-button {
    background: var(--main-pink);
}

.blue-theme .contact-button {
    background: var(--main-blue);
}

.yellow-theme .contact-button {
    background: var(--main-yellow);
}

.green-theme .contact-button {
    background: var(--main-green);
}
