.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: getColour(blue);
  padding: 1.2rem;

  p {
    opacity: 0.81;
    font-weight: 600;
    font-size: 1rem;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
  }

  a {
    color: getColour(navy);
    text-decoration: none;
  }
}
