.call-to-action {
    padding: 1rem;
    text-align: center;
    border-radius: 5px;
}

@media (max-width: 1279px) {
    .call-to-action {
        height: 230px;
        display: flex;
        align-items: center;
        padding: 0 1rem 1rem 1rem;
    }
}

.call-to-action .title {
    margin-bottom: 25px;
}

@media (min-width: 1280px) {
    .call-to-action {
        padding: 5rem;
    }

    .call-to-action .title  {
        margin-bottom: 45px;
    }
}

/** Theme button colours **/
.pink-theme .call-to-action {
    background: var(--main-pink);
}

.blue-theme .call-to-action {
    background: var(--main-blue);
}

.yellow-theme .call-to-action{
    background: var(--main-yellow);
}

.green-theme .call-to-action {
    background: var(--main-green);
}