.skill-block {
    width: 100%;
    margin: 1rem 0;
}

.skill-block p {
    font-size: 16px;
    color: var(--main-navy);
    letter-spacing: 0;
    line-height: 28px;
    margin: 0;
}

@media (min-width: 1280px) {
    .skill-block {
        width: 40%;
        margin: 1rem 2rem 1rem 0;
    }

    .skill-block p {
        font-size: 18px;
        line-height: 35px;
    }
}

.skill-block-icon {
    border-radius: 4px;
    height: 55px;
    width: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill-block-icon i {
    color: var(--main-navy);
    font-size: 22px;
}

.skill-block-title {
    margin: 10px 0;
}

/* Theme Colours */
.pink-theme .skill-block-icon {
    background: var(--main-pink);
}

.blue-theme .skill-block-icon {
     background: var(--main-blue);
}

.yellow-theme .skill-block-icon {
     background: var(--main-yellow);
}

.green-theme .skill-block-icon {
     background: var(--main-green);
}