.avatar {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

@media (min-width: 1280px) {
    .avatar {
        height: 250px;
        width: 250px;
    }
}

.avatar-image {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}