@mixin section-padding {
  padding: 2rem;

  @include min-width(sm) {
    padding: 2rem 6rem;
  }

  @include min-width(lg) {
    padding: 4rem 10rem;
  }

  @include min-width(xl) {
    padding: 4rem 20rem;
  }
}
