.contact {
  @include section-padding;
  background-color: getColour(white);
  display: flex;
  flex-direction: column;

  .contact__form-wrapper {
    margin-top: 3rem;
    margin-bottom: 2rem;
  }
}
